.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Poiret One", cursive;
  background-image: url("./cloudbackground.avif");
  background-size: cover;
  background-position: center;
}

.app-title {
  font-family: "Playwrite US Modern";
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(86, 175, 231);
  text-shadow: 0 0 3px white, 0 0 6px rgba(255, 255, 255, 0.82);
}

.quote-box {
  font-family: "Playwrite US Modern";
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: rgb(86, 175, 231);
}

.favorites-title {
  font-family: "Playwrite US Modern";
  margin-top: 20px;
  font-size: 1.2rem;
  color: rgb(86, 175, 231);
  text-shadow: 0 0 3px white, 0 0 6px rgba(255, 255, 255, 0.82);
}

.blue-button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: rgb(86, 175, 231);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.blue-button:hover {
  background-color: rgb(36, 110, 156);
  text-shadow: 0 0 3px white, 0 0 6px white;
}

.logout-button {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(224, 58, 58);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.logout-button:hover {
  background-color: rgb(183, 53, 53);
  text-shadow: 0 0 3px white, 0 0 6px white;
}

.input-field {
  display: block;
  margin: 8px auto;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid rgb(228, 228, 228);
}

.journal-textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid rgb(228, 228, 228);
  resize: vertical;
  font-family: "Bubbler One", sans-serif;
}

.entry-date {
  font-size: 0.8rem;
  color: rgba(71, 158, 212, 0.8);
  margin-bottom: 5px;
}

.app-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  font-family: "Playwrite US Modern", sans-serif;
}

.app-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.content-layout {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.left-side {
  flex: 1;
  max-width: 50%;
}

.right-side {
  flex: 1;
  max-width: 50%;
}

.button-row {
  margin-bottom: 10px;
}

.favorites-list {
  list-style: none;
  padding: 0;
}

.favorite-quote {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.right-side {
  color: rgba(71, 158, 212, 0.8);
}

.right-side {
  height: 600px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.saved-section {
  color: rgba(71, 158, 212, 0.8);
}

.saved-list {
  color: rgba(71, 158, 212, 0.8);
}

.saved-title {
  color: rgba(71, 158, 212, 0.8);
  text-shadow: 0 0 3px white, 0 0 6px rgba(255, 255, 255, 0.82);
}
